html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-wrapper {
  width: 100%;
  height: 80px;
  background-color: #575d62;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 20px;
}

.content-wrapper {
  background-color: lightgray;
  padding: 20px;
  margin: 20px;
}

.content-container {
  width: 100%;
}

.question-list {
  padding: 20px;
  margin: 16px;
}

.question-list-element {}

.question-container {
  display: flex;
}

.date {
  color: gray;
  margin-left: 10px;
}

.answer {
  font-size: 14px;
  border: 2px solid lightslategrey;
  border-radius: 4px;
  background-color: lightsteelblue;
  resize: none;
}


.new-question-container {
  padding-left: 20px;
  width: 50%;
}

.new-question {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#new-question-input,
#new-answer-input {
  margin-bottom: 10px;
  width: 50%;
  height: 25px;
  border: 2px solid lightslategrey;
  border-radius: 4px;
  background-color: lightsteelblue;
}

#add-new {
  border: 1px solid lightslategrey;
  border-radius: 4px;
  height: 40px;
  width: 65px;
  color: white;
  font-weight: 700;
  background-color: rgb(85, 153, 218);
  cursor: pointer;
}
